<form>
  <label>Post title:"Student Form"</label><br>
  <input type="text" id="post_title" name="post[title]"><br>
 
  <label>Post description:</label><br>
  <textarea id="post_description" name="student[first_name]"></textarea><br>
  <textarea id="post_description" name="student[last_name]"></textarea><br>
 
  <%= submit_tag "Submit Student" %>
</form>
 
<%= params.inspect %>

<%= link_to "show", new_student_path(@student) %>